/venv
/.idea
/__pycache__
/scrapydemo/venv
/scrapydemo/.idea
/scrapydemo/scrapydemo/__pycache__
/scrapydemo/scrapydemo/scrapydemo/__pycache__
/scrapydemo/scrapydemo/scrapydemo/spiders/__pycache__
/scrapydemo/scrapy.cfg

